<h1>Aim :<b><u> Fake News Detection</u> </b></h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('news.csv')              # Read The csv file
data.head(3)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL

<p><b><li><u> Dimensions of the dataframe </u></li> </b></p>

In [3]:
print(f"the given csv file contain row : {data.shape[0]} , and column : {data.shape[1]} " )

the given csv file contain row : 6335 , and column : 4

In [4]:
print(f" Dimension : {data.shape}")

 Dimension : (6335, 4)

<p><b><li><u>Display all the basic information regarding to the our data Set</u> </li></b></p>

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

<p><b><li><u>Value count by the label of the fake /  real news As below :</u> </li></b></p>

In [6]:
data.label.value_counts()

REAL    3171
FAKE    3164
Name: label, dtype: int64

In [7]:
print("Value count bt the title :") 
print()
data.title.value_counts().head()

Value count bt the title :

OnPolitics | 's politics blog                                                                         5
Michael Moore Owes Me $4.99                                                                           3
Hillary’s “Big Tent” is Obama’s “Grand Bargain” on Steroids                                           3
Get Ready For Civil Unrest: Survey Finds That Most Americans Are Concerned About Election Violence    3
The Dark Agenda Behind Globalism And Open Borders                                                     2
Name: title, dtype: int64

In [8]:
print("Value count bt the text :") 
print()
data.text.value_counts().head()

Value count bt the text :

Killing Obama administration rules, dismantling Obamacare and pushing through tax reform are on the early to-do list.                                         58
                                                                                                                                                              36
A verdict in 2017 could have sweeping consequences for tech startups.                                                                                         23
The election in 232 photos, 43 numbers and 131 quotes, from the two candidates at the center of it all.                                                       17
On this day in 1973, J. Fred Buzhardt, a lawyer defending President Richard Nixon in the Watergate case, revealed that a key White House tape had an 18...    12
Name: text, dtype: int64

In [9]:
data.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

<h3><u> new Column Add for the Read or Fake news (real_fake_news) </u></h3>
<h3><u>Real = 1 </u></h3>
<h3><u> Fake = 0 </u></h3>

In [10]:
data['real_fake_news'] = None
for i in range(0 , 6335):
    if data['label'][i] == 'FAKE':
        data['real_fake_news'][i] = 0
    else:
        data['real_fake_news'][i] = 1

C:\Users\malan\AppData\Local\Temp\ipykernel_24784\1237167550.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['real_fake_news'][i] = 0
C:\Users\malan\AppData\Local\Temp\ipykernel_24784\1237167550.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['real_fake_news'][i] = 1

In [11]:
data.real_fake_news

0       0
1       0
2       1
3       0
4       1
       ..
6330    1
6331    0
6332    0
6333    1
6334    1
Name: real_fake_news, Length: 6335, dtype: object

In [12]:
data.head()

,Unnamed: 0,title,text,label,real_fake_news
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,1

In [13]:
data.to_csv('final_data.csv')